@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "form.css";

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
main,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	justify-content: center;
}

ul {
	list-style: none
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.serviceRequests {
	width: 200px
}
	/* flex-direction: column;
    flex-wrap: nowrap;
	align-content: right; */
	/* justify-items: center; } */


.requests { 
	border: 1px dotted black;
	display: flex;
	height: 1.5rem;
	width: 400px;
	margin: .5rem;
	padding: .5rem;

}

.requests__completed { 
	border: 1px dotted black;
	background-color:rgb(255, 245, 230);
	display: flex;
	height: 1.5rem;
	width: 400px;
	margin: .5rem;
	padding: .5rem;

}

.request__description {
	justify-content: center;
	width: 250px;
}

.request__delete {
	margin-right: .5rem;
	/* padding: .5rem; */
    background-color: rgb(115, 185, 206);
    color: white;
    font-size: 12px;
    border: 1px line black;
    border-radius: .3rem;
    border-style:ridge;
}
